version: '3'

services:
  php:
    container_name: mfstat_php
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/var/www/html
    environment:
      - REDIS_HOST=redis
    networks:
      - mfstat-app-network

  nginx:
    container_name: mfstat_nginx
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - redis
    networks:
      - mfstat-app-network

  redis:
    container_name: mfstat_redis
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - mfstat-app-network

networks:
  mfstat-app-network:
    driver: bridge
